Options +FollowSymLinks



RewriteEngine On

#RewriteBase /

#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]

RewriteCond %{REQUEST_FILENAME} -f [OR]

RewriteCond %{REQUEST_FILENAME} -d

RewriteRule .* - [L]

#RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteRule ^product([\/a-zA-Z0-9\-]*)$ index.php?go=product [L,QSA]

RewriteRule ^product/index.html$ index.php?go=product [L,QSA]

RewriteRule ^product/([a-zA-Z0-9\-]+)/index.html$ index.php?go=product&brand=$1 [L,QSA]

RewriteRule ^product/([a-zA-Z\-]+)/([a-zA-Z0-9\-]+)/index.html$ index.php?go=product&brand=$1&ukuran=$2 [L,QSA]



RewriteRule ^gallery([\/a-zA-Z0-9\-]*)$ index.php?go=gallery [L,QSA]

RewriteRule ^gallery/index.html$ index.php?go=gallery [L,QSA]

RewriteRule ^gallery/([a-zA-Z0-9\-]+)/index.html$ index.php?go=gallery&brand=$1 [L,QSA]

RewriteRule ^gallery/([a-zA-Z\-]+)/([a-zA-Z0-9\-]+)/index.html$ index.php?go=gallery&brand=$1&ukuran=$2 [L,QSA]



RewriteRule ^modul/([a-zA-Z\-]+)(.*)$ index.php?go=$1 [L,QSA]

RewriteRule ^modul/([a-zA-Z\-]+)/([a-zA-Z0-9\-]+)(/.*)$ index.php?go=$1&do=$2 [L,QSA]

RewriteRule ^modul/([a-zA-Z\-]+)/([a-zA-Z0-9\-]+)/([0-9]+)(/.*)$ index.php?go=$1&do=$2&id=$3 [L,QSA]

RewriteRule ^modul/([a-zA-Z\-]+)/([a-zA-Z0-9\-]+)(/.*)$ index.php?go=$1&do=$2 [L,QSA]

RewriteRule ^modul/([a-zA-Z\-]+)/([a-zA-Z0-9\-]+)/([0-9]+)(/.*)$ index.php?go=$1&do=$2&id=$3 [L,QSA]

RewriteRule ^modul/([a-zA-Z\-]+)(.*)$ index.php?go=$1 [L,QSA]

RewriteRule ^berita/([0-9]+)-([a-zA-Z0-9\-]+).html$ index.php?go=news&id=$1 [L,QSA] 

RewriteRule ^modul/([a-zA-Z\-]+)/([a-zA-Z\-]+)/([a-zA-Z\-]+)$ index.php?go=$1&do=$2&strid=$3 [L,QSA]

RewriteRule ^modul/([a-zA-Z\-]+)/([a-zA-Z\-]+)/([0-9]+)$ index.php?go=$1&do=$2&id=$3 [L,QSA]

RewriteRule ^modul/([a-zA-Z\-]+)/([a-zA-Z\-]+)(/.*)$ index.php?go=$1&do=$2 [L,QSA]

RewriteRule ^modul/([a-zA-Z\-]+)/([a-zA-Z\-]+)$ index.php?go=$1&do=$2 [L,QSA]

RewriteRule ^modul/([a-zA-Z\-]+)(.*)$ index.php?go=$1 [L,QSA]

RewriteRule ^kat-([a-zA-Z0-9\-]+)/(.*)$ index.php?go=productgrid&kat=$1 [L,QSA]

RewriteRule ^kat-([a-zA-Z0-9\-]+)$ index.php?go=productgrid&kat=$1

RewriteRule ^kat-([a-zA-Z0-9\-]+)/(.*)$ index.php?go=productgrid&kat=$1

RewriteRule ^jual/([a-zA-Z0-9\-]+)-([0-9]+).html$ index.php?go=product-detail&id=$2

RewriteRule ^([a-zA-Z\-]+)$ index.php?go=page&id=$1

# php -- BEGIN cPanel-generated handler, do not edit
# NOTE this account's php is controlled via FPM and the vhost, this is a place holder.
# Do not edit. This next line is to support the cPanel php wrapper (php_cli).
# AddType application/x-httpd-ea-php56 .php .phtml
# php -- END cPanel-generated handler, do not edit
