/* Image Hover */
.glow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.glow:hover {
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
}

/* Styles indopustaka */
	.imgborder{
	   	/*border-radius: 2px 2px 2px 2px;
		-moz-border-radius: 2px 2px 2px 2px;
		-webkit-border-radius: 2px 2px 2px 2px;*/
		border: 2px solid #d6d6d6;
		padding: 2px;
		max-width:212px;
		max-height:152px;
	}
	
	.judulpage{
		clear:both;
		display: block;
		margin-left: 18px;
		text-align: center;
	}
	
	.blok{
		display: inline-block;
		/*float: left;*/
		text-align: center;
		/*height: 400px;*/
		width: 270px;
		margin-left: 20px;
		margin-top: 0px;
	
		
	}
	
	.blokpdf{
		display: block;
		float: left;
		height: 430px;
		width: 30.3%;
		margin-left: 17px;
	}
	
	.blokjournal{
		display: block;
		float: left;
		height: 400px;
		width: 30%;
		margin-left: 17px;
	}
	
	.blokkamus{
		display: block;
		float: left;
		height: 300px;
		width: 30%;
		margin-left: 17px;
	}
	
	.blokaudio{
		display: block;
		float: left;
		height: 280px;
		width: 30%;
		margin-left: 17px;
	}	
	
	.blokvideo{
		display: block;
		float: left;
		height: 350px;
		width: 30%;
		margin-left: 17px;
	}	
	
	.blokhits{
		display: block;
		float: left;
		height: 300px;
		width: 30%;
		margin-left: 17px;
	}		
	
	.bloklink{
		display: block;
		/*float: left;*/
		/*height: 300px;*/
		width: 125px;
		margin-left: 17px;
	}
	
	.blokhits{
		display: block;
		float: left;
		height: 255px;
		width: 30%;
		margin-left: 17px;
	}
	
	.blockdetail{
		margin-left: 30px;
		display: block;
		
	}	
	
	.kiri{
		display: block;
		width: 60px;
		font-size: 13px;
		float: left;
	}
	
	.kiriphoto{
		display: block;
		width: 80px;
		float: left;
	}
	
	.sinopsis{
		display: block;
		width: 96%;
		height: 150px;
		font-size: 13px;
		text-align: justify;
	}
	
	.judulpdf{
		display: block;		
		width: 98%;
		height: 57px;	
	}
	
	.judul{
		display: block;		
		width: 240px;
		height: 30px;	
	}
	
	.judullink{
		font-size: 16px;
    	font-style: normal;
    	font-weight: bold;
    	line-height: 100%;	
	}
	
	.juduldetail{

  		color: #FFFFFF;
   		margin: 10px 0;
   		font-size: 20px;
   		font-family: 'Century Gothic', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   		text-shadow:0px 1px #ef4e10
	
	}	
	
	.imgindopustaka{
		display: block;
		height: 145px;
	}
	
	.justify{
		text-align: justify;
		
		
	}
	
	.imgindopustaka{
		display: block;
		height: 145px;
	}	

	.paging{
		text-align: center;
		
		display:block;
	}
		
	
/* Button baca	*/
	.buttonbaca {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#2d8ecf), to(#65a9d7));
   background: -webkit-linear-gradient(top, #2d8ecf, #65a9d7);
   background: -moz-linear-gradient(top, #2d8ecf, #65a9d7);
   background: -ms-linear-gradient(top, #2d8ecf, #65a9d7);
   background: -o-linear-gradient(top, #2d8ecf, #65a9d7);
   padding: 7px 14px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
   
	.buttonbaca:hover {
   border-top-color: #e63341;
   background: #e63341;
   color: #ffffff;
   }
   
	.buttonbaca:active {
   border-top-color: #e88031;
   background: #e88031;
   }
